/* google fonts */
@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

/* general classes */
html {
  font-size: 16px;
}

.flex {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.website-wrapper {
  max-width: 1200px;
  padding: 0px 1.875rem;
  margin: 0 auto;
}

.gallary-padding {
  padding: 1.25rem 0px;
}

.responsive-img {
  width: 100%;
}

/* website header*/
.website-header {
  background-color: #f4f3f0;
  padding: 0.789rem 1.25rem 0.5rem 1.25rem;
  color: #233348;
  line-height: 1.5625rem;
  gap: normal;
  border-bottom: 0.3125rem solid #45B5CC;
}

a {
  text-decoration: none;
  color: #233348;
}

nav div a {
  padding-right: 12px;
  font-size: 0.875;
  text-transform: uppercase;
}

.logo {
  font-size: 2rem;
}

.small-copyright {
  font-size: 0.625rem;
}

/* header changes */
.header-flex {
  justify-content: space-between;
}

.hidden-hamberger {
  display: none;
}

label {
  font-size: 20px;
}

input[type=checkbox] {
  display: none;
}

.mobile-menu {
  display: none;
}

/* hero section */
.hero-background {
  background-color: #233348;
  color: white;
  padding: 3.75rem 0px;
}

.hero-flex-1 {
  width: 60%;
}

.hero-flex-2 {
  width: 30%;
  background-color: #3DA3B8;
  color: white;
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
}

.hero-heading {
  font-size: 2rem;
  font-family: Montserrat;
  font-weight: 400;
  text-align: center;
  text-transform: capitalize;
  padding-bottom: 1.875rem;
  line-height: 1.6;
}

.hero-para {
  font-size: 1.0625rem;
  font-family: Roboto;
  font-weight: 200;
  text-align: justify;
  line-height: 1.2;
}

/* request box*/
.req-header {
  text-transform: uppercase;
  padding: 1.25rem 0.625rem;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  font-size: 1rem;
}

.req-sub-container {
  background-color: #45B5CC;
  padding: 1.25rem 0.625rem;
}

.req-sub-para {
  font-size: 0.875rem;
  padding: 0.625rem 0px;
  text-transform: capitalize;
  font-family: Roboto;
}

.req-sub-container select {
  width: 100%;
  padding: 0.3rem;
  font-size: 0.75rem;
  background-image: linear-gradient(to bottom, #9FD9E3, #EFEFEF);
  color: #233348;
  text-transform: uppercase;
}

input {
  width: 100%;
  padding: 0.3rem;
  background-image: linear-gradient(to bottom, #9FD9E3, #EFEFEF);
}

.submit-btn {
  text-align: right;
  margin: 1.25rem 0.625rem;
}

.btn {
  width: 5rem;
  height: 1.875rem;
  background-color: #FAB730;
  border: none;
  outline: none;
  border: 1px solid yellow;
  border-radius: 1.5rem;
  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 1.5rem;
  -ms-border-radius: 1.5rem;
  -o-border-radius: 1.5rem;
  text-transform: uppercase;
}

/*Graphice gallary images*/
.gallary-background-color {
  background-color: #F3F3F3;
}

.gallary-heading {
  text-align: center;
  font-size: 1.75rem;
  font-family: Montserrat;
  font-weight: 300;
  text-transform: capitalize;
  padding: 1.25rem 0px;
}

.col-1-3 {
  width: 24%;
  border: 1px solid gray;
}

.view-more {
  text-align: center;
  padding: 2rem 0px;
  font-size: 0.875rem;
  font-family: Roboto;
  text-transform: uppercase;
  color: #16505c;
}

.image-author {
  font-size: 1.125rem;
  padding: 0.9375rem 0.625rem 0.3rem 0.625rem;
  text-align: center;
}

.date {
  padding: 0px 0.625rem;
  color: #3DA3B8;
  font-size: 0.75rem;
  text-align: center;
}

.view-link {
  text-align: center;
  padding: 0.625rem 0.625rem;
  text-transform: uppercase;
  font-size: 0.875rem;
}

hr {
  font-size: 0px;
  max-width: 75rem;
  color: #353535;
}

/* team section */
.circle-image {
  width: 7.8125rem;
  height: 7.8125rem;
  margin: 1.25rem 0px;
  border-radius: 50%;
  border: 1px solid black;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.team-member-name {
  text-transform: capitalize;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 500;
  font-family: Roboto;
  color: #000047;
  padding-bottom: 0.625rem;
}

.project-role {
  text-transform: uppercase;
  font-size: 0.875rem;
  padding: 0.625rem 0px;
  text-align: center;
  font-weight: 500;
}

.profile-nav {
  padding: 0.625rem 0px 1.25rem 0px;
}

.btn-center {
  text-align: center;
}

.profile-button {
  background-color: #5958bd;
  width: 5.725rem;
  color: white;
}

/* footer */
.footer {
  padding: 1.875rem 0px;
  background-color: #0E225F;
  text-align: center;
  color: white;
}

.footer-title {
  font-size: 1.5rem;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  html {
    font-size: 12px;
  }

  .col-1-3 {
    width: 70%;
    margin: 1rem 0px;
  }

  .hero-flex-1 {
    width: 80%;
    padding-bottom: 40px;
  }

  .hero-flex-2 {
    width: 70%;
  }

  .visible-menu {
    display: none;
  }

  .hidden-hamberger {
    display: block;
    cursor: pointer;
  }

  .mobile-menu a {
    display: block;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 2;
  }

  #toggle:checked + .mobile-menu {
    display: block;
  }
}

/*# sourceMappingURL=style.css.map */
